body {
  background: #e5e5e5;
  color: #25282b;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

p,
.description {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

#modal.hide {
  visibility: hidden;
  opacity: 0;
}

.hide {
  display: none;
}

#container {
  margin: 32px auto;
  max-width: 980px;
  width: 90%;
  display: flex;
}

#intro {
  margin-right: 20px;
  width: 300px;
}

button {
  background: none;
  border: none;
  color: #ff5e84;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 18px;
  outline: none;
}

button:hover {
  text-decoration: underline;
}

button.fat {
  background: #ff5e84;
  border-radius: 6px;
  color: white;
  height: 40px;
  width: 150px;
  box-shadow: 0px 8px 16px #ff5e8455;
}

button.fat:hover {
  text-decoration: none;
}

main {
  margin: 32px 0;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

footer {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1px;
  line-height: 18px;
  text-align: center;
}

footer a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.8;
}

.idea {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px -8px #0006;
  display: flex;
  margin-bottom: 32px;
  padding: 32px;
}

.idea img {
  height: 60px;
  width: 60px;

  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

#modal {
  background: #ff5e84;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 400ms;
}

#modal .content {
  color: #fff;
  margin-top: 128px;
}

#modal .content h1 {
  text-align: center;
  text-transform: uppercase;
}

#modal form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

#modal form div:nth-child(3),
#modal form div:nth-child(4),
#modal form div:nth-child(5) {
  grid-column: span 2;
}

#modal form button:nth-child(6) {
  background: #fff2;
  color: #fff;
  transition: 400ms;
}

#modal form button:nth-child(6):hover {
  background: #fff;
  color: #ff5e84;
}

#modal form button:nth-child(7) {
  justify-self: end;
}

form input,
form textarea {
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgb(141, 25, 52, 0.5);
  outline: none;
  padding: 12px;
  width: 100%;
}

form label {
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 32px;
}

form button {
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
  margin-top: 32px;
  width: 150px;
  transition: 400ms;
}

form button:hover {
  background: #0984e3;
  color: #fff;
  text-decoration: none;
}
